<aside id="left-panel">
    <nav>
        <ul>
            <li>
                <a href="@Url.Action("Index","Home",new { area = "" }, null)" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Configuracion</span></a>
                <ul>
                    <li>
                        @Html.ActionLink("Crear Usuarios", "Index", "Usuarios", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Crear Roles", "CreateRol", "RolPermiso", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Crear Permisos", "CreatePermiso", "RolPermiso", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Crear Productos", "CrearProducto", "Producto", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Tipo Documento", "TipoDocumento", "TipoParametros", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Tipo Pago", "TipoPago", "TipoParametros", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Tipo Mascota", "TipoMascota", "TipoParametros", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Tipo Producto", "TipoProducto", "TipoParametros", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Tipo Estudio", "TipoEstudio", "TipoParametros", new { area = "" }, null)
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fas fa-paw"></i> <span class="menu-item-parent">Historia Clinica</span></a>
                <ul>
                    <li>
                        @Html.ActionLink("Crear Clientes", "Index", "Clientes", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Crear Mascotas", "IndexMascota", "Clientes", new { area = "" }, null)
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-shopping-cart"></i> <span class="menu-item-parent">Tienda</span></a>
                <ul>
                    <li>
                        @Html.ActionLink("Ventas", "Index", "Reporte", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Reporte", "Reporte", "Reporte", new { area = "" }, null)
                    </li>
                </ul>
            </li>
        </ul>

</nav>
</aside>
