@{
    ViewBag.Title = "Rol";
}
@section Styles {

    @Styles.Render("~/Content/DataTables/dataTables.bootstrap4.min.css")


}
<section>
    <div id="content">
        <div class="jarviswidget jarviswidget-color-white jarviswidget-sortable" id="wid-id-0" data-widget-editbutton="false" role="widget" style="position: relative; opacity: 1; left: 0px; top: 0px;">
            <header>
                <div class="jarviswidget-ctrls" role="menu">
                    <a href="@Url.Action("CreateRol","RolPermiso")" class="button-icon jarviswidget-edit-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Nuevo">
                        <div class="btn">
                            <i class="fa fa-reply"></i> Volver
                        </div>
                    </a>
                </div>
                <h2>Rol </h2>
            </header>
            <div class="widget-body">
                <div class="row galeria">
                    <div class="col-md-12">
                        <table id="example" class="table table-striped table-bordered dataTable" style="width: 100%;" role="grid" aria-describedby="example_info">
                            <thead>
                                <tr>
                                    <th> <p style="text-align:center;font-family:Arial;font-size:90%"> User                      </th>
                                    <th> <p style="text-align:center;font-family:Arial;font-size:90%"> Email                     </th>
                                    <th> <p style="text-align:center;font-family:Arial;font-size:90%"> Rol                       </th>
                                    <th> </th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.ListaUsuario != null)

                                {
                                    foreach (var item in (List<PrVeterinaria.Models.ViewModel.listaUsuario>)ViewBag.ListaUsuario)
                                    {
                                        <tr>
                                            <td align="center">@item.idUsuario                    </td>
                                            <td align="center">@item.email               </td>
                                            <td align="center">@item.rolusuario               </td>
                                            <td>
                                                @Html.ActionLink("Editar", "Usuarios", new { id = item.id })
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{

    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Scripts/i18n/jquery.dataTables.es.js")



    <script>

        $("#btnGuardar").prop('disabled', true)
        $("#nombre").change(function () {
            if ($("#nombre").val().length > 0) {
                $("#btnGuardar").prop('disabled', false)
            }
            else {
                $("#btnGuardar").prop('disabled', true)
            }

        })
        $(document).ready(function () {
            $('#example').DataTable({

                "oLanguage": {
                    "oPaginate": {
                        "sFirst": sFirst,
                        "sLast": sLast,
                        "sNext": sNext,
                        "sPrevious": sPrevious,
                    },

                    "sEmptyTable": sEmptyTable,
                    "sInfo": sInfo,
                    "sInfoEmpty": sInfoEmpty,
                    "sInfoFiltered": sInfoFiltered,
                    "sZeroRecords": sZeroRecords,
                    "sLengthMenu": sLengthMenu
                },
                "order": [0, "desc"],
            });
        });
    </script>
}