@model AuroraWeb.Models.ViewModel.RecuperarPassword

@{
    ViewBag.Title = "Recuperar";
}

<div class="row text-center">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
        <img src="~/Content/images/logo.png" class="text-center" />
    </div>
</div>

<br />

<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
    <div class="well no-padding">
        @using (Html.BeginForm(null, null, FormMethod.Post, htmlAttributes: new { @Class = "smart-form client-form" }))
        {
            @Html.AntiForgeryToken()
            <header>
                Recuperar Password
            </header>
            <fieldset>
                <section>
                    @Html.LabelFor(model => model.usuario, htmlAttributes: new { @class = "label" })
                    <label class="input">
                        <i class="icon-append fa fa-user"></i>
                        @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control text-uppercase" } })
                    </label>
                    <div class="note">
                        @Html.ActionLink("Acceder a Aurora", "LogIn", "Home")
                    </div>
                </section>

                <section>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </section>

            </fieldset>
            <footer>
                <button type="submit" class="btn btn-primary">
                    Recuperar
                </button>
            </footer>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
