@model  PrVeterinaria.Models.ViewModel.TipoEstudioDTO
@{
    ViewBag.Title = "Rol";
}
@section Styles {
    @Styles.Render("~/Content/DataTables/dataTables.bootstrap4.min.css")

}

<section>
    <div id="content">
        <div class="jarviswidget jarviswidget-color-white jarviswidget-sortable" id="wid-id-0" data-widget-editbutton="false" role="widget" style="position: relative; opacity: 1; left: 0px; top: 0px;">
            <header role="heading" class="ui-sortable-handle">
                <h2>Grados de Escolaridad</h2>
                <div class="jarviswidget-ctrls" role="menu">
                    <a href="#" data-toggle="modal" data-target="#modalDetalles" class="button-icon jarviswidget-edit-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Nuevo">
                        <div class="btn">
                            <i class="fa fa-plus"></i> Nuevo
                        </div>
                    </a>
                </div>
            </header>
            <div class="widget-body">
                <div class="row galeria">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped" id="tlbItem">
                            <thead>
                                <tr>
                                    <th> <p style="text-align:center;font-family:Arial;font-size:90%"> ID                        </th>
                                    <th> <p style="text-align:center;font-family:Arial;font-size:90%"> Nombre                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.TipoEstu != null)

                                {
                                    foreach (var item in (List<PrVeterinaria.Models.ViewModel.TipoEstudioDTO>)ViewBag.TipoEstu)
                                    {
                                        <tr>
                                            <td align="center">@item.id_tipoEstudio                  </td>
                                            <td align="center">@item.NombreTipo               </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="modalDetalles">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Ajax.BeginForm("TipoEstudio", "TipoParametros",
       new AjaxOptions
       {
           HttpMethod = "POST",
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "Div-Kit"
       }))
            {
                <div class="modal-header bg-color-blueDark txt-color-white">
                    <h4 class="modal-title">Ingresar Grado de Escolaridad</h4>
                    <button type="button" class="close txt-color-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.Label("Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5 text-align-left">
                            @Html.EditorFor(model => model.NombreTipo, new { htmlAttributes = new { @class = "form-control text-uppercase", @id="nombre" } })
                            @Html.ValidationMessageFor(model => model.NombreTipo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-pull-6 form-group col-md-2 text-align-center">
                    <input type="submit" id="btnGuardar" value="Guardar" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>

@section Scripts

{
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Scripts/i18n/jquery.dataTables.es.js")

    <script>

        $("#btnGuardar").prop('disabled', true)

        $("#nombre").change(function () {
            if ($("#nombre").val().length > 0) {
                $("#btnGuardar").prop('disabled', false)
            }
            else {
                $("#btnGuardar").prop('disabled', true)
            }

        })

        $(document).ready(function () {
            $('#tlbItem').DataTable({

                "oLanguage": {
                    "oPaginate": {
                        "sFirst": sFirst,
                        "sLast": sLast,
                        "sNext": sNext,
                        "sPrevious": sPrevious,
                    },

                    "sEmptyTable": sEmptyTable,
                    "sInfo": sInfo,
                    "sInfoEmpty": sInfoEmpty,
                    "sInfoFiltered": sInfoFiltered,
                    "sZeroRecords": sZeroRecords,
                    "sLengthMenu": sLengthMenu
                },
                "order": [0, "desc"],
            });
        });
    </script>
}