@model PrVeterinaria.Models.ViewModel.Nuevo

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h2>Administracion de Usuarios</h2>
    </div>
</div>

<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-0">
                <header>
                    <div class="jarviswidget-ctrls" role="menu">
                        <a href="@Url.Action("Index","Clientes")" class="button-icon jarviswidget-edit-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Nuevo">
                            <div class="btn">
                                <i class="fa fa-reply"></i> Volver
                            </div>
                        </a>
                    </div>
                    <h2>Registrar un Cliente</h2>
                </header>
                <div>
                    <div class="jarviswidget-editbox">

                        <input class="form-control" type="text">
                    </div>
                    <div class="widget-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control text-uppercase" } })
                                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ciudad, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.ciudad, new { htmlAttributes = new { @class = "form-control text-uppercase" } })
                                        @Html.ValidationMessageFor(model => model.ciudad, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.telefono, null, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control text-uppercase" } })
                                        @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control text-uppercase" } })
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tipoDoc, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.tipoDoc, (IEnumerable<SelectListItem>)ViewBag.TipoDoc, "-- Seleccione --", htmlAttributes: new { @class = "form-control", id = "idItem" })
                                        @Html.ValidationMessageFor(model => model.tipoDoc, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(model => model.numeroDocumento, null, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.numeroDocumento, new { htmlAttributes = new { @class = "form-control text-uppercase" } })
                                        @Html.ValidationMessageFor(model => model.numeroDocumento, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-offset-5 form-group col-md-2">
                                    <input type="submit" id="btnGuardarItem" value="Guardar" class="btn btn-primary" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>